<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoodSing</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="left-container">
      <div class="logo-container">
        <img
          src="{{ url_for('static', filename='Logo.png') }}"
          width="400"
          height="150"
        />
      </div>
      <div class="video-feed-container">
        <img
          src="{{ url_for('video_feed') }}"
          width="750"
          height="345"
          alt="Video feed"
        />
      </div>
    </div>

    <div id="trending">
      <h4>Trending Now</h4>
      <div id="song-artist-section">
        <div class="column">
          <h5>Songs</h5>
          <ul>
            <li>
              <img
                src="{{ url_for('static', filename='Images/Starboy.png') }}"
                alt="Song Icon"
              />
              StarBoy
            </li>
            <li>
              <img
                src="{{ url_for('static', filename='Images/Utopia.png') }}"
                alt="Song Icon"
              />
              Telekinesis
            </li>
            <li>
              <img
                src="{{ url_for('static', filename='Images/Love Sick.png') }}"
                alt="Song Icon"
              />
              Private Landing
            </li>
            <li>
              <img
                src="{{ url_for('static', filename='Images/Thriller.png') }}"
                alt="Song Icon"
              />
              Thriller
            </li>
            <li>
              <img
                src="{{ url_for('static', filename='Images/The Color Violet.png') }}"
                alt="Song Icon"
              />
              The Color Violet
            </li>
          </ul>
        </div>
        <div class="column">
          <h5>Artists</h5>
          <ul>
            <li>
              <img
                src="{{ url_for('static', filename='Images/The Weekend.png') }}"
                alt="Artist Icon"
              />
              The Weeknd
            </li>
            <li>
              <img
                src="{{ url_for('static', filename='Images/Drake.png') }}"
                alt="Artist Icon"
              />
              Drake
            </li>
            <li>
              <img
                src="{{ url_for('static', filename='Images/Travis.png') }}"
                alt="Artist Icon"
              />
              Travis Scott
            </li>
            <li>
              <img
                src="{{ url_for('static', filename='Images/SZA.png') }}"
                alt="Artist Icon"
              />
              SZA
            </li>
            <li>
              <img
                src="{{ url_for('static', filename='Images/Lana.png') }}"
                alt="Artist Icon"
              />
              Lana Del Ray
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
