<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoodSing</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>MoodSing</h1>
    <h3>Real-time Vibe Detection</h3>
    <img
      src="{{ url_for('video_feed') }}"
      width="200"
      height="300"
      alt="Video feed"
    />

    <div id="trending">
      <h4>Trending Now</h4>
      <div id="song-artist-section">
        <div class="column">
          <h5>Songs</h5>
          <ul>
            <li>Song Title 1</li>
            <li>Song Title 2</li>
            <li>Song Title 3</li>
            <li>Song Title 4</li>
            <li>Song Title 5</li>
          </ul>
        </div>
        <div class="column">
          <h5>Artists</h5>
          <ul>
            <li>Artist Name 1</li>
            <li>Artist Name 2</li>
            <li>Artist Name 3</li>
            <li>Artist Name 4</li>
            <li>Artist Name 5</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
